body
{
    background-image:url(../../public/img/backgrounds.avif);
    background-size: cover;
    margin: auto;
    width: 1000px;
}
h1 {
    color : #2d1d00;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
}
h2 {
    color : #5B3C11;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
}
p {
    color: #564E42;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}
button {
    background-image:url(../../public/img/backgrounds.avif);
    color: #2d1d00;  
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}
dl {
    color: #564E42;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}
a {
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.blang{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
}
.afr,.aen{
    text-decoration: none;
    color: #564E42;
    border-style: solid;
    border-color: #564E42;
    padding: 5px;
    border-radius: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.afr:hover,.aen:hover{
        text-decoration: none;
        color: white;
        border-style: solid;
        border-color: #564E42;
        background-color: #564E42;
        padding: 5px;
        border-radius: 20px;
        font-family: 'PT Sans Narrow', sans-serif;
}
.flh{
    height: 20px;
    width: 30px;
}